.df-page-checkout {

    @include tablet {
        padding: 50px 0;
    }

    .df-order-product-title {
        font-weight: bold;
        font-size: rem(24);
        line-height: rem(29);
        text-align: left;
        margin-bottom: 24px;
    }
}

.df-order-details {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 0 0 32px;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: auto;

    @include tablet {
        width: 734px;
        border-radius: 10px;
    }
}

.df-order-title {
    background: $baseColor;
    color: #fff;
    padding: 18px 24px 17px;

    p {
        font-weight: bold;
        line-height: rem(19);
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.df-order-info {
    flex-direction: column;
    padding: 32px 25px;
    text-align: center;
    border-bottom: 1px solid #C2C2C2;

    @include tablet {
        padding: 32px 40px;
    }

    .df-product-price-info {
    
        .df-product-price-item {
            padding: 18px 0 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            h4 {
                margin: 0;
            }
        }
    
        .df-product-price-item:not(:last-child) {
            border-bottom: 1px solid #E3E3E3;
        }
    }
}

.df-order-count-title {
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(20);
    margin-bottom: 24px;
    padding: 0 24px;

    @include tablet {
        font-size: rem(20);
        margin-bottom: 32px;
        padding: 0 40px;
    }
}

.df-order-counters {
    flex-direction: column;
    padding: 0 24px;

    @include tablet {
        flex-direction: row;
        padding: 0 40px;
    }
}

.df-order-counter-wrapper {
    width: 100%;

    @include tablet {
        width: 316px;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
        
        @include tablet {
            margin-bottom: 0;
        }
    }

    p {
        color: #000;
        font-weight: bold;
        font-size: rem(16);
        line-height: rem(24);
        margin-bottom: 8px;
    }

    .df-order-counter-block {
        width: 100%;
        align-items: center;
        display: flex;
        background: #E9EDF3;
        border-radius: 10px;
    }

    .df-order-value {
        width: calc(100% - 84px);
        border-radius: 0;
        text-align: center;
        min-height: 42px;
        font-size: rem(18);
        line-height: rem(22);
        color: #000;
    }

    .df-plus,
    .df-minus {
        display: inline-block;
        background: #2D73F6;
        color: #fff;
        border-radius: 10px;
        width: 42px;
        height: 42px;
        font-weight: bold;
        font-size: rem(42);
        line-height: rem(36);
        text-align: center;
        cursor: pointer;
    }
}

.df-order-image {
    width: 233px;
    margin: 32px auto 35px;

    img {
        width: 100%;
        height: auto;
    }
}

.df-order-payment-info,
.df-order-contact {
    padding: 25px;
    width: 100%;

    @include tablet {
        padding: 32px 49px 14px 31px;
    }
    
    .df-order-contact-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 26px;
    }
}

.df-order-contact {
    @include tablet {
        padding-bottom: 0;
    }

    .df-order-contact-item {
        
        &:last-child {
            align-items: center;
        }

        .df-button-confirm {
            width: 100%;
            background-color: $baseColor;

            @include tablet {
                width: 327px;
            }
        }
    }
}

.df-order-payment-info {

    &-subtitle {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: rem(20);
        line-height: rem(20);
        color: #222;
        opacity: 0.8;
        margin-bottom: 24px;
    }

    .df-cardnumber {
        position: relative;

        &-type {
            position: absolute;
            top: 44px;
            right: 30px;
            display: block;
        }

        input {
            padding-right: 80px;
        }
    }

    .df-order-contact-item {

        label {
            
            span {
                font-weight: normal;
                font-size: rem(16);
                line-height: rem(20);
                opacity: 0.4;
            }
        }
    }
}

.df-order-two-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        flex-direction: row;
    }

    .df-order-item {
        width: 100%;

        @include tablet {
            width: 318px;
        }
    }
}

.df-payment-selector {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;

    @include tablet {
        flex-direction: row;
    }

    .df-row-paypal,
    .df-row-credit {
        width: 100%;
        background: #FFF;
        border: 3px solid transparent;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 10px 24px 20px;
        margin-bottom: 20px;

        @include tablet {
            width: 318px;
            margin-bottom: 0;
            padding: 10px 24px 40px;
        }

        &.active {
            border-color: #2D73F6
        }
    }

    .df-left-side,
    .df-right-side {
        position: relative;
        padding-left: 40px;

        @include tablet {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .df-right-side {
        
        svg:not(:last-child) {
            margin-right: 10px;
        }
    }

    label {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: rem(20);
        line-height: rem(24);
        opacity: 0.8;
        position: relative;
        left: -20px;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        background: transparent; 
        border-radius: unset;
        border: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
        color: unset;
        min-height: unset;
        width: unset;
        margin: auto;
    }

    input[type=radio] {
        visibility: hidden;
    }

    .df-radio {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #E9EDF3;
        cursor: pointer;
    }

    input[type=radio]:checked ~ .df-radio {
        background: url('/svg/paymentcheck.svg') no-repeat center;
    }
}