.df-page-upsell {
    .df-product-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        @include tabletL {
            justify-content: space-between;
            flex-direction: row;
        }
       
        .df-product-wrapper {
            position: relative;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            width: 100%;
            height: 345px;
            background: #fff;
            z-index: 2;
            margin-bottom: 30px;
    
            @include mobileL {
                width: 300px; 
            }
    
            @include laptopL {
                width: 370px;
                height: 345px;
            }
    
            &.df-most-popular {
    
                .df-most-popular-title {
                    background: #E8DFF7;
                    border-radius: 10px;
                    position: absolute;
                    height: calc(100% + 56px);
                    width: calc(100% + 120px);
                    top: -46px;
                    z-index: 1;
                    display: block;
                    left: calc(-50% + 120px);
    
                    @include tablet {
                        width: calc(100% + 20px);
                        left: -10px;
                    }
    
                    p {
                        color: $baseColor;
                        font-size: rem(16);
                        line-height: rem(16);
                        text-transform: uppercase;
                        text-align: center;
                        letter-spacing: 0;
                        margin-top: 12px;
                        font-family: 'AvertaBold', sans-serif;
    
                        span {
                            margin-right: 10px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
    
            .df-product-item {
                height: 100%;
                position: relative;
                z-index: 2;
                background: #fff;
                border-radius: 10px;
                padding: 40px;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            }
    
            .df-safe-mony {
                background: $redColor;
                border-radius: 8px;
                letter-spacing: 0;
                color: #fff;
                font-weight: bold;
                font-size: rem(12);
                line-height: rem(12);
                width: 108px;
                height: 34px;
                position: absolute;
                top: 38px;
                right: 32px;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
            }
    
            .df-poduct-title {
                font-size: rem(24);
                line-height: rem(24);
                font-family: 'AvertaBold', sans-serif;
            }
    
            .df-product-info {
                text-align: center;
    
                @include tablet {
                    text-align: left;
                }
                
                p {
                    margin-bottom: 8px;
                    line-height: rem(24);
                    display: flex;
                    flex-direction: column;
    
                    @include tablet {
                        display: block;
                    }
    
                    span:not(:last-child) {
                        position: relative;
                        margin-bottom: 8px;
    
                        @include tablet {
                            margin-bottom: 0;
    
                            &:after {
                                content: "•";
                                margin: 0 3px;
                            }
                        }
                    }
                }
            }
    
            .df-product-price {
                margin-bottom: 25px;
                text-align: center;
    
                @include tablet {
                    text-align: left;
                }
    
                &:first-letter {
                    vertical-align: top;
                    font-family: 'AvertaBold', sans-serif;
                    font-size: rem(24);
                    line-height: rem(24);
                    margin-right: 10px;
                }
    
                b {
                    font-size: rem(54);
                    line-height: rem(48);
                    font-family: 'AvertaBold', sans-serif;
                }
            }
        }
    }

    .df-unsbscribe {
        font-size: rem(16);
        line-height: rem(20);
        opacity: 0.6;
        display: block;
        margin: auto;
        color: #222;
        text-decoration: underline;
    }

    .df-button {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        background: $baseColor;
        width: 280px;
        height: 48px;
        padding: 16px 0 14px;
        line-height: rem(18);
        display: block;
        margin: auto;
    
        @include tablet {
            width: 180px;
        }
    }
}