.df-page-upsell {

    .df-body-boost-block {

        .df-subtitle {
            width: 80%;
            margin: auto;

            @include tablet {
                width: 60%;
            }
        }
    }

    .df-body-boost {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 24px;

        @include tablet {
            flex-direction: row;
            padding: 0;
        }

        &-item {
            font-size: rem(16);
            line-height: rem(22);
            font-weight: 500;
            opacity: 0.8;
            width: 100%;
            display: flex;
            margin-bottom: 32px;
            align-items: center;
            padding-right: 20px;

            @include tablet {
                width: 35%;
                font-size: rem(20);
                line-height: rem(24);
            }

            .df-logo-wrapper {
                margin-right: 32px;
            }

            p {
                font-weight: 500;
                font-size: rem(20);
                line-height: rem(24);
                margin: 0;
            }
        }
    }

    .df-ketone-boost-image {
        background: url('../../assets/images/product2.png') no-repeat center;
        background-size: contain;
        height: 270px;
        width: 100%;

        @include tablet {
            height: 395px;
            margin-bottom: 100px;
        }
    }

    .df-top-block {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: block;
            height: 590px;
        }

        &.df-reverse {

            .df-top-block-img {
                background-position: left top;
                right: unset;
                left: 0;
            }

            .df-top-img {
                order: 1;
                
                @include tablet {
                    order: unset;
                }
            }

            .container {
                order: 2;
                justify-content: flex-end;

                @include tablet {
                    order: unset;
                }
            }
        }

        .df-top-img {
            order: 1;
            margin-bottom: 30px;
            
            @include tablet {
                margin-bottom: 0;
                order: unset;
            }
        }

        .container {
            order: 2;

            @include tablet {
                order: unset;
            }
        }

        .df-title-block {
            margin: auto auto 32px;
            font-weight: bold;
            font-size: rem(40);
            line-height: rem(49);
        }

        .df-text-description {
            p {
                margin-bottom: 35px;
            }
        }

        .container {
            align-items: center;
            height: 100%;
            display: flex;
        }
    }

    .df-fasting-results {
        flex-direction: row;
        padding: 0 24px;

        @include tablet {
            padding: 0;
        }

        .df-fasting-results-description {
            margin-top: 16px;
            margin-bottom: 40px;
            font-weight: bold;
            font-size: rem(16);
            line-height: rem(24);

            @include tablet {
                font-size: rem(24);
                line-height: rem(32);
            }

            &:after {
                display: block;
                content: "";
                background: url('../../assets/images/product.png') no-repeat center;
                background-size: contain;
                height: 260px;

                @include tablet {
                    height: 395px;
                }
            }

            @include tablet {
                &:after {
                    display: none;
                }
            }
        }

        .df-fasting-results-image,
        .df-fasting-results-text {
            width: 100%;

            @include tablet {
                width: 50%;
            }
        }

        .df-fasting-results-image {
            display: none;
            @include tablet {
                display: inline-block;
                background: url('../../assets/images/product.png') no-repeat center;
                background-size: contain;
            }
        }

        .df-fasting-results-text {
            
            @include tablet {
                padding: 30px 0 0 70px;
            }
        }

        .df-list {

            li {
                display: flex;
                margin-bottom: 24px;
                align-items: center;

                @include tablet {
                    margin-bottom: 32px;
                }

                p {
                    font-size: rem(16);
                    line-height: rem(24);
                    margin: 0;

                    @include tablet {
                        font-size: rem(20);
                    }
                }
            }

            .df-logo-wrapper {
                background-color: rgba(222, 43, 112, 0.2);
                margin-right: 24px;

                @include tablet {
                    margin-right: 32px;
                }
            }
        }
    }
}