// Body
$body-bg: #F4F6F9;

// Typography
$font-family-base: 'Cabin', sans-serif;
$font-size-base: 1rem; //16px
$line-height-base: 1.2;
$base-font-color: #222;

// Colors
$blue: #2D73F6;
$red: #DE2B70;
