// Body
$body-bg: #F4F6F9;

// Typography
$font-family-base: 'Cabin', sans-serif;
$font-size-base: 1rem; //16px
$line-height-base: 1.2;
$base-font-color: #222;

// Colors
$blue: #2D73F6;
$baseColor: #DE2B70;
$blueColor: #2D73F6;
$blueColorLighter: #027AFF;
$blueColorHavy: rgb(26, 35, 166);
$greenColor: #31C062;
$redColor: #E91010;
$textRed: #DE2B70;
$textGreen: #31C062;

// variables for mobile breakpoint
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 576px;
$tablet: 768px;
$tabletL: 992px;
$laptop: 1024px;
$laptopL: 1200px;
$desktop: 1440px;

$media-mobileS: '(min-width: '$mobileS')';
$media-mobileM: '(min-width: '$mobileM')';
$media-mobileL: '(min-width: '$mobileL')';
$media-tablet: '(min-width: '$tablet')';
$media-tabletL: '(min-width: '$tabletL')';
$media-laptop: '(min-width: '$laptop')';
$media-laptopL: '(min-width: '$laptopL')';
$media-desktop: '(min-width: '$desktop')';