// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import './mixins';

// Helpers
@import './helpers';
@import './typography';

// style for molecules/atoms
@import './molecules/allmolecules';

// style for components/views
@import './components/allcomponents';

// style for pages
@import './pages/allpages';


/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

body {
    color: #222;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.df-gray-bg {
    background-color: #F3F4F8;
}

.df-white-bg {
    background-color: #fff;
}

.df-ul-empty-style {
    padding: 0;
    margin: 0;
    list-style: none;
}

.df-block-title {
    font-size: rem(30);
    line-height: rem(36);
    margin-bottom: 32px;
    width: 100%;

    @include tablet {
        font-size: rem(40);
        line-height: rem(49);
    }
}

.df-block-text {
    font-size: rem(18);
    line-height: rem(26);
    max-width: 800px;
    margin: auto;
    opacity: 0.8;

    @include tablet {
        font-size: rem(16);
        line-height: rem(24);
    }
    
    p {
        margin-bottom: 20px;
    }

    a {
        color: #638def;
        text-decoration: underline;
    }

    ul {
        padding-left: 10px;
        list-style: none;
    }

    h6 {
        font-weight: bold;
    }

    h2 {
        text-align: center;
        font-size: rem(40);
        line-height: rem(49);
        margin-bottom: 23px;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.df-block-wrapper {
    padding: 40px 24px;

    @include tablet {
        padding: 80px 0;
    }
}

.df-mobile {
    display: block;

    @include tablet {
        display: none;
    }
}

.df-desktop {
    display: none;

    @include tablet {
        display: block;
    }
}

.df-navigation-link {
    margin: auto auto 30px;

    @include tablet {
        margin: 0;
        padding: 0 10px 0 0;
    }

    @include laptopL {
        width: auto;
    }

    li:not(:last-child) {
        margin-bottom: 16px;
    }

    a,
    .df-linsk-title {
        color: $base-font-color;
        font-size: rem(12);
        line-height: rem(15);
        letter-spacing: rem(3.33333);
    }

    .df-linsk-title {
        font-weight: bold;
    }

    a {
        display: block;

        @include tablet {
            width: auto;
            display: inline-block;
        }

        @include laptopL {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-right: 0;

            @include tablet {
                margin-right: 40px;
            }
        }

        &.df-social-in,
        &.df-social-fb {
            display: inline-block;
    
            svg {
                width: auto;
                height: 18px;
            }
    
            &:not(:last-child) {
                margin-right: 10px;
    
                @include tablet {
                    margin-right: 15px;
                }
            }
        }

        &.df-playmarket,
        &.df-appstore {
            vertical-align: top;
            display: inline-block;
            border-radius: 5px;
        }

        &.df-appstore {
            width: 106px;
            height: 34px;
            margin-right: 20px;
            background: url('../../assets/images/appstore.png')  no-repeat center;
            background-size: contain;
            margin-right: 10px;
        }

        &.df-playmarket {
            width: 120px;
            height: 34px;
            background: url('../../assets/images/playmarket.png')  no-repeat center;
            background-size: contain;
        }
    }
}

.df-page-welcomeapp {
    
    .df-preview-item {
        padding: 0;

        // @include tablet

        .df-item-image img {
            max-height: 100%;
        }
    }
}

.df-quiz-block-img,
.df-join-block-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: none;

    @include tablet {
        display: block;
        padding-bottom: 0;
        background-position: center;
        background-size: auto;
        // background: transparent;
        background-repeat: no-repeat;
    }
}

.df-quiz-block-img {
    right: 0;

    @include laptopL {
        background-position: right top;
    }
}

.df-join-block-img {
    left: 0;

    @include laptopL {
        background-position: left top;
    }
}