.df-free-wrapper {
    background: #f7f6f6;
    min-height: 628px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    overflow: hidden;
    z-index: -2;

    @include tablet {
        min-height: 668px;
        justify-content: space-between;
        align-items: center;
        // background: #F9F6F7 url('../../assets/images/christmas.png') no-repeat center right;
    }

    &:after {
        content: "";
        background: #f7f6f6 url('../../assets/images/christmas.png') no-repeat center;
        min-height: 668px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        top: 35%;
        display: block;
        transform: scale(1.1) rotate(90deg);
        z-index: -1;

        @include tablet {
            top: 0;
            transform: rotate(0);
            // display: none;
            background: #f7f6f6 url('../../assets/images/christmas.png') no-repeat center right;
        }
    }

    .df-block-content {
        width: 100%;
        margin-top: 25vw;
        
        @include tablet {
            position: relative;
            max-width: 500px;
            margin-top: 0;
        }
    }

    .df-title {
        font-weight: bold;
        font-size: rem(30);
        line-height: rem(36);

        @include tablet {
            font-size: rem(60);
            line-height: rem(73); 
        }
    }

    .df-text {
        font-weight: bold;
        font-size: rem(24);
        line-height: rem(29);
        margin-bottom: 25px;

        @include tablet {
            font-size: rem(40);
            line-height: rem(49);
            margin-bottom: 40px;
        }
    }
}