.df-steps-nav {
    @include margin($top: 16px, $bottom: 32px);
    @include margin($media: $media-tablet, $top: 32px, $bottom: 40px);
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: calc(100% - 105px);
        height: 2px;
        background: #c4c4c4;
        top: 7px;
        bottom: 0;
        left: 55px;

        @include mobileM {
            width: calc(100% - 130px);
            left: 65px;
        }

        @include mobileL {
            width: calc(100% - 130px);
            left: 70px;
        }
    }

    &.df-pass-first-step,
    &.df-pass-second-step {
        &:after {
            content: '';
            position: absolute;
            background: $baseColor;
            height: 2px;
            top: 7px;
            bottom: 0;
            left: 55px;

            @include mobileM {
                left: 65px;
            }

            @include mobileL {
                left: 75px;
            }
        }
    }

    &.df-pass-first-step {

        &:after {
            width: calc(50% - 60px);

            @include mobileM {
                width: calc(50% - 70px);
            }

            @include mobileL {
                // width: calc(50% - 80px);
            }
        }
    }

    &.df-pass-second-step {

        &:after {
            width: calc(100% - 105px);

            @include mobileM {
                width: calc(100% - 130px);
            }
        }
    }

    .df-steps-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        max-width: 115px;

        @include tablet {
            max-width: 100%;
        }

        &.df-active {
    
            .df-steps-title {
                color: $baseColor;
            }
    
            .df-steps-point {
                background: $baseColor;
            }
        }

        &.df-current {

            .df-steps-point {
                
                &:after {
                    content: '';
                    position: absolute;
                    background: url('/svg/currentStep.svg') no-repeat;
                    bottom: -10px;
                    height: 6px;
                    width: 8px;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
    }

    .df-steps-title {
        color: #c4c4c4;
        font-size: rem(14);
        line-height: rem(16);
        text-transform: uppercase;
        letter-spacing: rem(1.34);
        text-align: center;
        margin-top: 15px;

        @include tablet {
            text-align: left;
        }
    }

    .df-steps-point {
        background: #c4c4c4;
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        position: relative;
    }
}